* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; /* cegah space putih */
}

.dashboard {
  font-family: "Instrument Sans", sans-serif;
}

.jomhuria {
  font-family: "Jomhuria", cursive;
}
